In [1]:
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib
import matplotlib.pyplot as plt

In [2]:
schools_df = pd.read_csv('Datasets/2019_DOE_High_School_Directory.csv')

In [3]:
schools_df.head()

,dbn,school_name,boro,overview_paragraph,school_10th_seats,academicopportunities1,academicopportunities2,academicopportunities3,academicopportunities4,academicopportunities5,...,state_code,Borough,Latitude,Longitude,Community Board,Council District,Census Tract,BIN,BBL,NTA
0,16K498,Brooklyn High School for Law and Technology,K,The mission of Brooklyn High School for Law an...,Y,iLearnNYC: Program for expanded online coursew...,Access to Law and Technology Programs: Youth C...,"Computer Programming, iCareers, Online courses...","Multicultural Literature, Conflict Resolution/...",NaN,...,NY,BROOKLYN,40.688831,-73.920906,3,41,375,3039676.0,3.014820e+09,Stuyvesant Heights ...
1,17K524,International High School at Prospect Heights,K,We are a small school that works in teams to p...,Y,"We are a Performance-Based Assessment school, ...","Safe, supportive, and nurturing environment wh...",We are a Computer Science for All school. Thro...,All students are matched to an internship in t...,"Afterschool programs include: Peer Tutoring, A...",...,NY,BROOKLYN,40.670349,-73.961695,9,35,213,3029686.0,3.011870e+09,Crown Heights South ...
2,02M531,Repertory Company High School for Theatre Arts,M,We offer a college-preparatory program and New...,Y,iLearnNYC: Program for expanded online coursew...,"Advisory, Acting, Playwriting, Stagecraft, Mus...","National Honor Society, yearly grade-level res...",Learning Through Expanded Arts Playwriting Pro...,"Roundabout Theatre Company (Playwriting, IATSE...",...,NY,MANHATTAN,40.755843,-73.984382,5,4,119,1022615.0,1.009960e+09,Midtown-Midtown South ...
3,05M670,Thurgood Marshall Academy for Learning and Soc...,M,Thurgood Marshall Academy is an academically r...,Y,We offer a Regents curriculum designed to grad...,"Enrichment: Early College High School Program,...",College and Career Readiness: On-site College ...,Community Service and Internship: Abyssinian D...,"Partnerships: Columbia University, Northside C...",...,NY,MANHATTAN,40.815509,-73.944202,10,9,228,1058843.0,1.019400e+09,Central Harlem North-Polo Grounds ...
4,15K423,Brooklyn Frontiers High School,K,Brooklyn Frontiers High School serves entering...,NaN,Partnership with Good Shepherd Services: coach...,"Small classes, many co-taught by two teachers","Many opportunities for tutoring and support, b...",Paid Learning to Work Internships,NaN,...,NY,BROOKLYN,40.690145,-73.989132,2,33,43,3000533.0,3.001690e+09,DUMBO-Vinegar Hill-Downtown Brooklyn-Boerum Hi...

In [4]:
schools_df.shape

(427, 462)

In [5]:
schools_df.describe()

,total_students,graduation_rate,attendance_rate,pct_stu_enough_variety,college_career_rate,pct_stu_safe,girls,boys,pbat,international,...,common_audition9,common_audition10,zip,Latitude,Longitude,Community Board,Council District,Census Tract,BIN,BBL
count,427.000000,403.000000,425.000000,426.000000,384.000000,426.000000,9.0,5.0,38.0,23.0,...,1.0,1.0,427.000000,427.000000,427.000000,427.000000,427.000000,427.000000,4.260000e+02,4.260000e+02
mean,703.065574,0.790571,0.867647,0.746127,0.592839,0.837770,1.0,1.0,1.0,1.0,...,1.0,1.0,10726.295082,40.743472,-73.922456,6.843091,21.819672,4137.196721,2.581395e+06,2.509423e+09
std,761.437145,0.136453,0.061457,0.135015,0.188952,0.081231,0.0,0.0,0.0,0.0,...,NaN,NaN,542.183615,0.081700,0.072530,4.398166,14.586243,15717.995300,1.209372e+06,1.156402e+09
min,135.000000,0.390000,0.530000,0.240000,0.150000,0.510000,1.0,1.0,1.0,1.0,...,1.0,1.0,10002.000000,40.528092,-74.192032,1.000000,1.000000,1.000000,1.000003e+06,1.000020e+09
25%,364.000000,0.690000,0.830000,0.670000,0.440000,0.790000,1.0,1.0,1.0,1.0,...,1.0,1.0,10291.500000,40.687665,-73.979959,3.000000,10.000000,118.500000,1.087876e+06,1.022150e+09
50%,463.000000,0.790000,0.870000,0.765000,0.570000,0.840000,1.0,1.0,1.0,1.0,...,1.0,1.0,10469.000000,40.738952,-73.927051,6.000000,18.000000,269.000000,2.116937e+06,2.053680e+09
75%,635.500000,0.910000,0.910000,0.840000,0.740000,0.900000,1.0,1.0,1.0,1.0,...,1.0,1.0,11219.000000,40.819414,-73.882715,10.000000,34.000000,519.000000,3.331741e+06,3.069858e+09
max,5838.000000,1.000000,0.980000,1.000000,1.000000,1.000000,1.0,1.0,1.0,1.0,...,1.0,1.0,11694.000000,40.888338,-73.727535,18.000000,51.000000,138501.000000,5.149609e+06,5.066130e+09

In [6]:
list(schools_df)

['dbn',
 'school_name',
 'boro',
 'overview_paragraph',
 'school_10th_seats',
 'academicopportunities1',
 'academicopportunities2',
 'academicopportunities3',
 'academicopportunities4',
 'academicopportunities5',
 'ell_programs',
 'language_classes',
 'advancedplacement_courses',
 'diplomaendorsements',
 'neighborhood',
 'shared_space',
 'campus_name',
 'building_code',
 'location',
 'phone_number',
 'fax_number',
 'school_email',
 'website',
 'subway',
 'bus',
 'grades2018',
 'finalgrades',
 'total_students',
 'start_time',
 'end_time',
 'addtl_info1',
 'extracurricular_activities',
 'psal_sports_boys',
 'psal_sports_girls',
 'psal_sports_coed',
 'school_sports',
 'graduation_rate',
 'attendance_rate',
 'pct_stu_enough_variety',
 'college_career_rate',
 'pct_stu_safe',
 'girls',
 'boys',
 'pbat',
 'international',
 'specialized',
 'transfer',
 'ptech',
 'earlycollege',
 'geoeligibility',
 'school_accessibility_description',
 'prgdesc1',
 'prgdesc2',
 'prgdesc3',
 'prgdesc4',
 'prgdesc5',
 'prgdesc6',
 'prgdesc7',
 'prgdesc8',
 'prgdesc9',
 'prgdesc10',
 'directions1',
 'directions2',
 'directions3',
 'directions4',
 'directions5',
 'directions6',
 'directions7',
 'directions8',
 'directions9',
 'directions10',
 'requirement1_1',
 'requirement1_2',
 'requirement1_3',
 'requirement1_4',
 'requirement1_5',
 'requirement1_6',
 'requirement1_7',
 'requirement1_8',
 'requirement1_9',
 'requirement1_10',
 'requirement2_1',
 'requirement2_2',
 'requirement2_3',
 'requirement2_4',
 'requirement2_5',
 'requirement2_6',
 'requirement2_7',
 'requirement2_8',
 'requirement2_9',
 'requirement2_10',
 'requirement3_1',
 'requirement3_2',
 'requirement3_3',
 'requirement3_4',
 'requirement3_5',
 'requirement3_6',
 'requirement3_7',
 'requirement3_8',
 'requirement3_9',
 'requirement3_10',
 'requirement4_1',
 'requirement4_2',
 'requirement4_3',
 'requirement4_4',
 'requirement4_5',
 'requirement4_6',
 'requirement4_7',
 'requirement4_8',
 'requirement4_9',
 'requirement4_10',
 'requirement5_1',
 'requirement5_2',
 'requirement5_3',
 'requirement5_4',
 'requirement5_5',
 'requirement5_6',
 'requirement5_7',
 'requirement5_8',
 'requirement5_9',
 'requirement5_10',
 'requirement6_1',
 'requirement6_2',
 'requirement6_3',
 'requirement6_4',
 'requirement6_5',
 'requirement6_6',
 'requirement6_7',
 'requirement6_8',
 'requirement6_9',
 'requirement6_10',
 'requirement7_1',
 'requirement7_2',
 'requirement7_3',
 'requirement7_4',
 'requirement7_5',
 'requirement7_6',
 'requirement7_7',
 'requirement7_8',
 'requirement7_9',
 'requirement7_10',
 'requirement8_1',
 'requirement8_2',
 'requirement8_3',
 'requirement8_4',
 'requirement8_5',
 'requirement8_6',
 'requirement8_7',
 'requirement8_8',
 'requirement8_9',
 'requirement8_10',
 'requirement9_1',
 'requirement9_2',
 'requirement9_3',
 'requirement9_4',
 'requirement9_5',
 'requirement9_6',
 'requirement9_7',
 'requirement9_8',
 'requirement9_9',
 'requirement9_10',
 'requirement10_1',
 'requirement10_2',
 'requirement10_3',
 'requirement10_4',
 'requirement10_5',
 'requirement10_6',
 'requirement10_7',
 'requirement10_8',
 'requirement10_9',
 'requirement10_10',
 'requirement11_1',
 'requirement11_2',
 'requirement11_3',
 'requirement11_4',
 'requirement11_5',
 'requirement11_6',
 'requirement11_7',
 'requirement11_8',
 'requirement11_9',
 'requirement11_10',
 'requirement12_1',
 'requirement12_2',
 'requirement12_3',
 'requirement12_4',
 'requirement12_5',
 'requirement12_6',
 'requirement12_7',
 'requirement12_8',
 'requirement12_9',
 'requirement12_10',
 'offer_rate1',
 'offer_rate2',
 'offer_rate3',
 'offer_rate4',
 'offer_rate5',
 'offer_rate6',
 'offer_rate7',
 'offer_rate8',
 'offer_rate9',
 'offer_rate10',
 'program1',
 'program2',
 'program3',
 'program4',
 'program5',
 'program6',
 'program7',
 'program8',
 'program9',
 'program10',
 'code1',
 'code2',
 'code3',
 'code4',
 'code5',
 'code6',
 'code7',
 'code8',
 'code9',
 'code10',
 'interest1',
 'interest2',
 'interest3',
 'interest4',
 'interest5',
 'interest6',
 'interest7',
 'interest8',
 'interest9',
 'interest10',
 'method1',
 'method2',
 'method3',
 'method4',
 'method5',
 'method6',
 'method7',
 'method8',
 'method9',
 'method10',
 'seats9ge1',
 'seats9ge2',
 'seats9ge3',
 'seats9ge4',
 'seats9ge5',
 'seats9ge6',
 'seats9ge7',
 'seats9ge8',
 'seats9ge9',
 'seats9ge10',
 'grade9gefilledflag1',
 'grade9gefilledflag2',
 'grade9gefilledflag3',
 'grade9gefilledflag4',
 'grade9gefilledflag5',
 'grade9gefilledflag6',
 'grade9gefilledflag7',
 'grade9gefilledflag8',
 'grade9gefilledflag9',
 'grade9gefilledflag10',
 'grade9geapplicants1',
 'grade9geapplicantsperseat1',
 'grade9geapplicants2',
 'grade9geapplicantsperseat2',
 'grade9geapplicants3',
 'grade9geapplicantsperseat3',
 'grade9geapplicants4',
 'grade9geapplicantsperseat4',
 'grade9geapplicants5',
 'grade9geapplicantsperseat5',
 'grade9geapplicants6',
 'grade9geapplicantsperseat6',
 'grade9geapplicants7',
 'grade9geapplicantsperseat7',
 'grade9geapplicants8',
 'grade9geapplicantsperseat8',
 'grade9geapplicants9',
 'grade9geapplicantsperseat9',
 'grade9geapplicants10',
 'grade9geapplicantsperseat10',
 'seats9swd1',
 'seats9swd2',
 'seats9swd3',
 'seats9swd4',
 'seats9swd5',
 'seats9swd6',
 'seats9swd7',
 'seats9swd8',
 'seats9swd9',
 'seats9swd10',
 'grade9swdfilledflag1',
 'grade9swdfilledflag2',
 'grade9swdfilledflag3',
 'grade9swdfilledflag4',
 'grade9swdfilledflag5',
 'grade9swdfilledflag6',
 'grade9swdfilledflag7',
 'grade9swdfilledflag8',
 'grade9swdfilledflag9',
 'grade9swdfilledflag10',
 'grade9swdapplicants1',
 'grade9swdapplicantsperseat1',
 'grade9swdapplicants2',
 'grade9swdapplicantsperseat2',
 'grade9swdapplicants3',
 'grade9swdapplicantsperseat3',
 'grade9swdapplicants4',
 'grade9swdapplicantsperseat4',
 'grade9swdapplicants5',
 'grade9swdapplicantsperseat5',
 'grade9swdapplicants6',
 'grade9swdapplicantsperseat6',
 'grade9swdapplicants7',
 'grade9swdapplicantsperseat7',
 'grade9swdapplicants8',
 'grade9swdapplicantsperseat8',
 'grade9swdapplicants9',
 'grade9swdapplicantsperseat9',
 'grade9swdapplicants10',
 'grade9swdapplicantsperseat10',
 'seats1specialized',
 'seats2specialized',
 'seats3specialized',
 'seats4specialized',
 'seats5specialized',
 'seats6specialized',
 'applicants1specialized',
 'applicants2specialized',
 'applicants3specialized',
 'applicants4specialized',
 'applicants5specialized',
 'applicants6specialized',
 'appperseat1specialized',
 'appperseat2specialized',
 'appperseat3specialized',
 'appperseat4specialized',
 'appperseat5specialized',
 'appperseat6specialized',
 'seats101',
 'seats102',
 'seats103',
 'seats104',
 'seats105',
 'seats106',
 'seats107',
 'seats108',
 'seats109',
 'seats1010',
 'admissionspriority11',
 'admissionspriority21',
 'admissionspriority31',
 'admissionspriority41',
 'admissionspriority51',
 'admissionspriority61',
 'admissionspriority71',
 'admissionspriority12',
 'admissionspriority22',
 'admissionspriority32',
 'admissionspriority42',
 'admissionspriority52',
 'admissionspriority62',
 'admissionspriority72',
 'admissionspriority13',
 'admissionspriority23',
 'admissionspriority33',
 'admissionspriority43',
 'admissionspriority53',
 'admissionspriority63',
 'admissionspriority73',
 'admissionspriority14',
 'admissionspriority24',
 'admissionspriority34',
 'admissionspriority44',
 'admissionspriority54',
 'admissionspriority64',
 'admissionspriority74',
 'admissionspriority15',
 'admissionspriority25',
 'admissionspriority35',
 'admissionspriority45',
 'admissionspriority55',
 'admissionspriority65',
 'admissionspriority75',
 'admissionspriority16',
 'admissionspriority26',
 'admissionspriority36',
 'admissionspriority46',
 'admissionspriority56',
 'admissionspriority66',
 'admissionspriority76',
 'admissionspriority17',
 'admissionspriority27',
 'admissionspriority37',
 'admissionspriority47',
 'admissionspriority57',
 'admissionspriority67',
 'admissionspriority77',
 'admissionspriority18',
 'admissionspriority28',
 'admissionspriority38',
 'admissionspriority48',
 'admissionspriority58',
 'admissionspriority68',
 'admissionspriority78',
 'admissionspriority19',
 'admissionspriority29',
 'admissionspriority39',
 'admissionspriority49',
 'admissionspriority59',
 'admissionspriority69',
 'admissionspriority79',
 'admissionspriority110',
 'admissionspriority210',
 'admissionspriority310',
 'admissionspriority410',
 'admissionspriority510',
 'admissionspriority610',
 'admissionspriority710',
 'eligibility1',
 'eligibility2',
 'eligibility3',
 'eligibility4',
 'eligibility5',
 'eligibility6',
 'eligibility7',
 'eligibility8',
 'eligibility9',
 'eligibility10',
 'auditioninformation1',
 'auditioninformation2',
 'auditioninformation3',
 'auditioninformation4',
 'auditioninformation5',
 'auditioninformation6',
 'auditioninformation7',
 'auditioninformation8',
 'auditioninformation9',
 'auditioninformation10',
 'common_audition1',
 'common_audition2',
 'common_audition3',
 'common_audition4',
 'common_audition5',
 'common_audition6',
 'common_audition7',
 'common_audition8',
 'common_audition9',
 'common_audition10',
 'primary_address_line_1',
 'city',
 'zip',
 'state_code',
 'Borough',
 'Latitude',
 'Longitude',
 'Community Board',
 'Council District',
 'Census Tract',
 'BIN',
 'BBL',
 'NTA']

In [7]:
schools_df['addr_zip'] = schools_df['location'].str.extract(r'(\d{5}\-?\d{0,4})')

In [8]:
columns = ['school_name','overview_paragraph','neighborhood','location',
           'website','grades2018','finalgrades','total_students','graduation_rate','attendance_rate','college_career_rate','Borough','addr_zip','Latitude',
           'Longitude']

final_df = schools_df[columns]

In [9]:
final_df.graduation_rate.mean()

0.7905707196029778

In [10]:
final_na = (final_df.isnull().sum() / len(final_df)) * 100
final_na = final_na.drop(final_na[final_na == 0].index).sort_values(ascending=False)[:30]
schools_missing_data = pd.DataFrame({'Missing Ratio':final_na})
schools_missing_data

                     Missing Ratio
college_career_rate      10.070258
graduation_rate           5.620609
attendance_rate           0.468384

In [11]:
final_df[final_df['college_career_rate'].isnull()]

,school_name,overview_paragraph,neighborhood,location,website,grades2018,finalgrades,total_students,graduation_rate,attendance_rate,college_career_rate,Borough,addr_zip,Latitude,Longitude
4,Brooklyn Frontiers High School,Brooklyn Frontiers High School serves entering...,DUMBO-Downtown Brooklyn,"112 Schermerhorn Street, Brooklyn NY 11201(40....",brooklynfrontiers.org,9 to 12,9 to 12,168,NaN,0.76,NaN,BROOKLYN,11201,40.690145,-73.989132
5,West End Secondary School,We promote and support scholarly endeavors thr...,Lincoln Square,"227-243 West 61st Street, Manhattan NY 10023(4...",westendsecondary.com,6 to 10,6 to 10 - This school is expanding to serve gr...,339,NaN,NaN,NaN,MANHATTAN,10023,40.772007,-73.987479
14,Professional Pathways High School,"In partnership with CAMBA, Professional Pathwa...",Sheepshead Bay,"3000 Avenue X, Brooklyn NY 11235(40.593157, -7...",schools.nyc.gov/SchoolSearch,"School is structured on credit needs, not grad...","School is structured on credit needs, not grad...",205,NaN,0.56,NaN,BROOKLYN,11235,40.594124,-73.937696
33,High School for Excellence and Innovation,At the High School for Excellence and Innovati...,Inwood,"650 Academy Street, Manhattan NY 10034(40.8655...",schools.nyc.gov/SchoolSearch,9 to 12,9 to 12,201,NaN,0.68,NaN,MANHATTAN,10034,40.866053,-73.924835
58,The Urban Assembly School for Emergency Manage...,The Urban Assembly School for Emergency Manage...,Chinatown,"411 Pearl Street, Manhattan NY 10038(40.711441...",uasem.org,9 to 12,9 to 12,281,0.74,0.83,NaN,MANHATTAN,10038,40.711442,-74.000851
61,Nelson Mandela High School,The mission of the Nelson Mandela School for S...,Bedford-Stuyvesant,"1700 Fulton Street, Brooklyn NY 11213(40.67847...",mandelaschoolnyc.org,9 to 12,9 to 12,273,NaN,0.78,NaN,BROOKLYN,11213,40.679440,-73.932407
73,International High School for Health Sciences,We offer English Language Learners who are new...,Elmhurst,"48-01 90th Street, Elmhurst NY 11373(40.740824...",ihshealthsciences.org,9 to 12,9 to 12,307,0.61,0.88,NaN,QUEENS,11373,40.741122,-73.874721
77,Urban Assembly Maker Academy,UA Maker prepares students to find and solve c...,Chinatown,"411 Pearl Street, Manhattan NY 10038(40.711441...",uamaker.nyc,9 to 12,9 to 12,386,NaN,0.89,NaN,MANHATTAN,10038,40.711442,-74.000851
80,Institute for Health Professions at Cambria He...,The Institute for Health Professions at Cambri...,Cambria Heights,"207- 01 116th Avenue, Cambria Heights NY 11411...",ihpch.org,9 to 12,9 to 12,420,0.89,0.89,NaN,QUEENS,11411,40.697819,-73.745728
86,Liberation Diploma Plus High School,The mission of Liberation Diploma Plus High Sc...,Seagate-Coney Island,"2865 West 19th Street, Brooklyn NY 11224(40.57...",schools.nyc.gov/SchoolSearch,"School is structured on credit needs, not grad...","School is structured on credit needs, not grad...",225,NaN,0.53,NaN,BROOKLYN,11224,40.577208,-73.985953
110,Manhattan Early College School for Advertising,Through close partnerships with the Borough of...,Chinatown,"411 Pearl Street, Manhattan NY 10038(40.711441...",meca-nyc.org,9 to 14,9 to 14,367,NaN,0.92,NaN,MANHATTAN,10038,40.711442,-74.000851
118,Bronx Collaborative High School,Bronx Collaborative students are academic dete...,Van Cortlandt Village,"100 West Mosholu Parkway South, Bronx NY 10468...",bxchs.org,9 to 12,9 to 12,553,0.51,0.80,NaN,BRONX,10468,40.882178,-73.886910
138,Humanities Preparatory Academy,We provide a diverse student body with a perso...,Chelsea-Union Sq,"351 West 18th Street, Manhattan NY 10011(40.74...",humanitiesprep.org,9 to 12,9 to 12,235,NaN,0.85,NaN,MANHATTAN,10011,40.742867,-74.002136
139,Origins High School,Origins prepares students for success in colle...,Sheepshead Bay,"3000 Avenue X, Brooklyn NY 11235(40.593157, -7...",originshighschool.org,9 to 12,9 to 12,427,0.76,0.83,NaN,BROOKLYN,11235,40.594124,-73.937696
142,Special Music School,SMS is a public school open to musically gifte...,Lincoln Square,"122 Amsterdam Avenue, Manhattan NY 10023(40.77...",kaufmanmusiccenter.org/sms,K to 12,K to 12,314,0.98,0.95,NaN,MANHATTAN,10023,40.774351,-73.984753
159,Bronx Academy for Software Engineering (BASE),BASE is a CTE high school focusing on computer...,Belmont,"2474 Crotona Avenue, Bronx NY 10458(40.855392,...",bronxsoftware.org,9 to 12,9 to 12 - This school is expanding to serve gr...,426,0.78,0.88,NaN,BRONX,10458,40.855698,-73.882715
161,Queens High School for Language Studies,"Queens HS for Language Studies is a committed,...",Flushing,"35-01 Union Street, Flushing NY 11354(40.76489...",qhsls.org,9 to 12,9 to 12,427,0.95,0.95,NaN,QUEENS,11354,40.765166,-73.827890
168,The Urban Assembly School for Collaborative He...,"At UASCH, we prepare students for college and ...",Cypress Hills,"999 Jamaica Avenue, Brooklyn NY 11208(40.69300...",uasch.org,9 to 12,9 to 12,313,NaN,0.87,NaN,BROOKLYN,11208,40.691146,-73.868328
175,Metropolitan Diploma Plus High School,Metropolitan Diploma Plus High School is a lea...,Brownsville,"985 Rockaway Avenue, Brooklyn NY 11212(40.6556...",schools.nyc.gov/SchoolSearch,"School is structured on credit needs, not grad...","School is structured on credit needs, not grad...",217,NaN,0.66,NaN,BROOKLYN,11212,40.656068,-73.907245
177,Young Women's Leadership School of the Bronx (...,Our school community consists of confident and...,Mount Hope,"1865 Morris Avenue, Bronx NY 10453(40.848552, ...",tywlsbronx.org,6 to 12,6 to 12,465,NaN,0.92,NaN,BRONX,10453,40.848516,-73.908427
181,Pelham Lab High School,"At Pelham Lab High School, we value equity, co...",Schuylerville-Throgs Neck,"3000 East Tremont Avenue, Bronx NY 10461(40.83...",schools.nyc.gov/SchoolSearch,9 to 12,9 to 12,466,0.71,0.83,NaN,BRONX,10461,40.840702,-73.838545
182,The Laboratory School of Finance and Technology,Our school sets a high academic bar that chall...,Mott Haven-Port Morris,"360 East 145th Street, Bronx NY 10454(40.81361...",ms223.org,6 to 12,6 to 12,684,0.92,0.90,NaN,BRONX,10454,40.813983,-73.920782
184,Eagle Academy for Young Men III,Eagle Academy III is an all-male college prepa...,St. Albans,"171-10 Linden Boulevard, Jamaica NY 11434(40.6...",schools.nyc.gov/SchoolSearch,6 to 12,6 to 12,531,0.93,0.91,NaN,QUEENS,11434,40.691712,-73.778923
215,Energy Tech High School,"At Energy Tech, students interested in enginee...",Queensbridge-LIC,"36-41 28th Street, Astoria NY 11106(40.756471,...",energytechschool.org,9 to 14,9 to 14,511,0.93,0.94,NaN,QUEENS,11106,40.757065,-73.932664
227,Schuylerville Preparatory High School,Schuylerville Preparatory High School is a col...,Schuylerville-Throgs Neck,"3000 East Tremont Avenue, Bronx NY 10461(40.83...",schools.nyc.gov/SchoolSearch,9 to 12,9 to 12,376,0.67,0.87,NaN,BRONX,10461,40.840702,-73.838545
239,Spring Creek Community School,This is a small 6th through 12th grade school ...,Bergen Beach,"1065 Elton Street, Brooklyn NY 11208(40.657266...",schools.nyc.gov/SchoolSearch,6 to 12,6 to 12,478,NaN,0.92,NaN,BROOKLYN,11208,40.657459,-73.874756
243,Epic High School - North,"Epic High School (Epic)-North, an outgrowth of...",Richmond Hill,"94-25 117th Street, South Richmond Hill NY 114...",epicschoolsnyc.org,9 to 12,9 to 12,390,NaN,0.89,NaN,QUEENS,11419,40.693006,-73.829407
263,Murray Hill Academy,Murray Hill Academy has a unique admissions mo...,Murray Hill-Kips Bay,"111 East 33rd Street, Manhattan NY 10016(40.74...",mhacademy.net,9 to 12,9 to 12,317,NaN,0.79,NaN,MANHATTAN,10016,40.746176,-73.981241
269,Stephen T. Mather Building Arts & Craftsmanshi...,Are you looking for a quality high school that...,Clinton,"439 West 49th Street, Manhattan NY 10019(40.76...",MatherHSNYC.org,9 to 12,9 to 12,394,0.83,0.87,NaN,MANHATTAN,10019,40.763370,-73.990593
282,Epic High School - South,"EPIC High School-South, an outgrowth of the NY...",South Ozone Park,"121-10 Rockaway Boulevard, South Ozone Park NY...",epicschoolsnyc.org,9 to 12,9 to 12,329,NaN,0.84,NaN,QUEENS,11420,40.675771,-73.816938
285,The Clinton School,The Clinton School is an authorized Internatio...,Chelsea-Union Sq,"10 East 15th Street, Manhattan NY 10003(40.736...",theclintonschool.net,6 to 12,6 to 12,604,NaN,0.97,NaN,MANHATTAN,10003,40.736518,-73.992725
298,Inwood Early College for Health and Informatio...,"IEC is a career and technical education, early...",Inwood,"650 Academy Street, Manhattan NY 10034(40.8655...",inwoodearlycollege.org,9 to 14,9 to 14,376,NaN,0.91,NaN,MANHATTAN,10034,40.866053,-73.924835
317,Business Technology Early College High School ...,Students attending Business Technology Early C...,Bellerose,"230-17 Hillside Avenue, Queens Village NY 1142...",btechnyc.org,9 to 14,9 to 14,422,NaN,0.90,NaN,QUEENS,11427,40.733066,-73.738756
323,"H.E.R.O. High (Health, Education, and Research...","At HERO High, students learn how to save lives...",Mott Haven-Port Morris,"455 Southern Boulevard, Bronx NY 10455(40.8106...",herohigh.net,9 to 14,9 to 14,496,0.72,0.83,NaN,BRONX,10455,40.810803,-73.907015
330,Bronx River High School,"To create an exceptional school, we offer the ...",Schuylerville-Throgs Neck,"3000 East Tremont Avenue, Bronx NY 10461(40.83...",bronxriverhighschool.org,9 to 12,9 to 12,405,0.73,0.83,NaN,BRONX,10461,40.840702,-73.838545
347,New Directions Secondary School,New Directions Secondary School is a transfer ...,E. Concourse-Concourse Village,"240 East 172nd Street, Bronx NY 10457(40.83930...",ndssbx.org,6 to 12,6 to 12,234,NaN,0.65,NaN,BRONX,10457,40.840422,-73.910910
353,World View High School,World View High School (WVHS) is a rigorous co...,Van Cortlandt Village,"100 West Mosholu Parkway South, Bronx NY 10468...",worldviewhs.org,9 to 12,9 to 12,495,0.86,0.89,NaN,BRONX,10468,40.882178,-73.886910
356,Benjamin Franklin High School for Finance & In...,Our mission is to provide young men and women ...,Cambria Heights,"207- 01 116th Avenue, Cambria Heights NY 11411...",schools.nyc.gov/SchoolSearch,9 to 12,9 to 12,397,NaN,0.87,NaN,QUEENS,11411,40.697819,-73.745728
361,Independence High School,Independence High School embraces teaching and...,Clinton,"850 10th Avenue, Manhattan NY 10019(40.767848,...",schools.nyc.gov/SchoolSearch,"School is structured on credit needs, not grad...","School is structured on credit needs, not grad...",334,NaN,0.62,NaN,MANHATTAN,10019,40.768343,-73.989108
382,Veritas Academy,"At Veritas Academy, you will learn about the v...",Flushing,"35-01 Union Street, Flushing NY 11354(40.76489...",theveritasacademy.com,9 to 12,9 to 12,558,0.82,0.89,NaN,QUEENS,11354,40.765166,-73.827890
385,Eagle Academy for Young Men of Harlem,Eagle Academy Harlem is a 6 through 12 college...,Central Harlem North,"6 Edgecombe Avenue, Manhattan NY 10030(40.8172...",eagleharlem.org,6 to 12,6 to 12,318,NaN,0.89,NaN,MANHATTAN,10030,40.817372,-73.947712
390,The Eagle Academy for Young Men of Staten Island,The Eagle Academy for Young Men of Staten Isla...,Stapleton-Rosebank,"104 Gordon Street, Staten Island NY 10304(40.6...",schools.nyc.gov/SchoolSearch,6 to 11,6 to 11 - This school is expanding to serve gr...,253,NaN,NaN,NaN,STATEN IS,10304,40.624263,-74.082667
409,The Urban Assembly School for Global Commerce,UASGC provides students with a career-centered...,Central Harlem North,"2005 Madison Avenue, Manhattan NY 10035(40.807...",uaglobalcommerce.org,9 to 12,9 to 12,241,0.75,0.85,NaN,MANHATTAN,10035,40.807383,-73.939433

In [12]:
final_df['graduation_rate'].fillna(final_df['graduation_rate'].mean(),inplace=True)
final_df['college_career_rate'].fillna(final_df['college_career_rate'].mean(),inplace=True)
final_df['attendance_rate'].fillna(final_df['attendance_rate'].mean(),inplace=True)

C:\Users\zari0\Anaconda3\lib\site-packages\pandas\core\generic.py:6287: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self._update_inplace(new_data)

In [13]:
final_na = (final_df.isnull().sum() / len(final_df)) * 100
final_na = final_na.drop(final_na[final_na == 0].index).sort_values(ascending=False)[:30]
schools_missing_data = pd.DataFrame({'Missing Ratio':final_na})
schools_missing_data

Empty DataFrame
Columns: [Missing Ratio]
Index: []

In [15]:
final_df

,school_name,overview_paragraph,neighborhood,location,website,grades2018,finalgrades,total_students,graduation_rate,attendance_rate,college_career_rate,Borough,addr_zip,Latitude,Longitude
0,Brooklyn High School for Law and Technology,The mission of Brooklyn High School for Law an...,Bedford-Stuyvesant,"1396 Broadway, Brooklyn NY 11221(40.688399, -7...",bklawtech.com,9 to 12,9 to 12,594,0.740000,0.85,0.490000,BROOKLYN,11221,40.688831,-73.920906
1,International High School at Prospect Heights,We are a small school that works in teams to p...,Crown Heights South,"883 Classon Avenue, Brooklyn NY 11225(40.66980...",schools.nyc.gov/SchoolSearch,9 to 12,9 to 12,417,0.630000,0.88,0.530000,BROOKLYN,11225,40.670349,-73.961695
2,Repertory Company High School for Theatre Arts,We offer a college-preparatory program and New...,Midtown,"123 West 43rd Street, Manhattan NY 10036(40.75...",repertorycompanyhs.org,9 to 12,9 to 12,242,0.960000,0.91,0.870000,MANHATTAN,10036,40.755843,-73.984382
3,Thurgood Marshall Academy for Learning and Soc...,Thurgood Marshall Academy is an academically r...,Central Harlem North,"200-214 West 135th Street, Manhattan NY 10030(...",schools.nyc.gov/SchoolSearch,6 to 12,6 to 12,547,0.810000,0.91,0.600000,MANHATTAN,10030,40.815509,-73.944202
4,Brooklyn Frontiers High School,Brooklyn Frontiers High School serves entering...,DUMBO-Downtown Brooklyn,"112 Schermerhorn Street, Brooklyn NY 11201(40....",brooklynfrontiers.org,9 to 12,9 to 12,168,0.790571,0.76,0.592839,BROOKLYN,11201,40.690145,-73.989132
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
422,"Brooklyn School for Social Justice, The",We develop a community of young leaders who wi...,Bushwick,"400 Irving Avenue, Brooklyn NY 11237(40.696457...",BSSJBrooklyn.com,9 to 12,9 to 12,364,0.690000,0.78,0.480000,BROOKLYN,11237,40.696970,-73.910791
423,George Washington Carver High School for the S...,The mission of our school is to provide studen...,Springfield Gardens North,"143-10 Springfield Boulevard, Springfield Gard...",gwc.connectwithkids.com,9 to 12,9 to 12,468,0.780000,0.88,0.660000,QUEENS,11413,40.668235,-73.756839
424,Brooklyn Lab School,We are a learning community that believes all ...,Cypress Hills,"999 Jamaica Avenue, Brooklyn NY 11208(40.69300...",brooklynlabschool.org,9 to 12,9 to 12,384,0.630000,0.79,0.420000,BROOKLYN,11208,40.691146,-73.868328
425,"High School for Construction Trades, Engineeri...",This is a CTE school that prepares students fo...,Richmond Hill,"94-06 104th Street, Ozone Park NY 11416(40.689...",hsforctea.org,9 to 12,9 to 12,1027,0.980000,0.94,0.820000,QUEENS,11416,40.689591,-73.840717
426,"High School for Mathematics, Science and Engin...",HSMSE @ CCNY provides a unique and unparallele...,Manhattanville,"240 Convent Avenue, Manhattan NY 10031(40.8202...",hsmse.org,9 to 12,9 to 12,500,0.990000,0.96,0.990000,MANHATTAN,10031,40.820740,-73.949097