In [1]:
import pandas as pd
import numpy as np

In [8]:
schools_df = pd.read_csv('Datasets/2019_DOE_High_School_Directory.csv')

In [9]:
schools_df.head()

,dbn,school_name,boro,overview_paragraph,school_10th_seats,academicopportunities1,academicopportunities2,academicopportunities3,academicopportunities4,academicopportunities5,...,state_code,Borough,Latitude,Longitude,Community Board,Council District,Census Tract,BIN,BBL,NTA
0,16K498,Brooklyn High School for Law and Technology,K,The mission of Brooklyn High School for Law an...,Y,iLearnNYC: Program for expanded online coursew...,Access to Law and Technology Programs: Youth C...,"Computer Programming, iCareers, Online courses...","Multicultural Literature, Conflict Resolution/...",NaN,...,NY,BROOKLYN,40.688831,-73.920906,3,41,375,3039676.0,3.014820e+09,Stuyvesant Heights ...
1,17K524,International High School at Prospect Heights,K,We are a small school that works in teams to p...,Y,"We are a Performance-Based Assessment school, ...","Safe, supportive, and nurturing environment wh...",We are a Computer Science for All school. Thro...,All students are matched to an internship in t...,"Afterschool programs include: Peer Tutoring, A...",...,NY,BROOKLYN,40.670349,-73.961695,9,35,213,3029686.0,3.011870e+09,Crown Heights South ...
2,02M531,Repertory Company High School for Theatre Arts,M,We offer a college-preparatory program and New...,Y,iLearnNYC: Program for expanded online coursew...,"Advisory, Acting, Playwriting, Stagecraft, Mus...","National Honor Society, yearly grade-level res...",Learning Through Expanded Arts Playwriting Pro...,"Roundabout Theatre Company (Playwriting, IATSE...",...,NY,MANHATTAN,40.755843,-73.984382,5,4,119,1022615.0,1.009960e+09,Midtown-Midtown South ...
3,05M670,Thurgood Marshall Academy for Learning and Soc...,M,Thurgood Marshall Academy is an academically r...,Y,We offer a Regents curriculum designed to grad...,"Enrichment: Early College High School Program,...",College and Career Readiness: On-site College ...,Community Service and Internship: Abyssinian D...,"Partnerships: Columbia University, Northside C...",...,NY,MANHATTAN,40.815509,-73.944202,10,9,228,1058843.0,1.019400e+09,Central Harlem North-Polo Grounds ...
4,15K423,Brooklyn Frontiers High School,K,Brooklyn Frontiers High School serves entering...,NaN,Partnership with Good Shepherd Services: coach...,"Small classes, many co-taught by two teachers","Many opportunities for tutoring and support, b...",Paid Learning to Work Internships,NaN,...,NY,BROOKLYN,40.690145,-73.989132,2,33,43,3000533.0,3.001690e+09,DUMBO-Vinegar Hill-Downtown Brooklyn-Boerum Hi...

In [10]:
schools_df.shape

(427, 462)

In [11]:
schools_df.describe()

,total_students,graduation_rate,attendance_rate,pct_stu_enough_variety,college_career_rate,pct_stu_safe,girls,boys,pbat,international,...,common_audition9,common_audition10,zip,Latitude,Longitude,Community Board,Council District,Census Tract,BIN,BBL
count,427.000000,403.000000,425.000000,426.000000,384.000000,426.000000,9.0,5.0,38.0,23.0,...,1.0,1.0,427.000000,427.000000,427.000000,427.000000,427.000000,427.000000,4.260000e+02,4.260000e+02
mean,703.065574,0.790571,0.867647,0.746127,0.592839,0.837770,1.0,1.0,1.0,1.0,...,1.0,1.0,10726.295082,40.743472,-73.922456,6.843091,21.819672,4137.196721,2.581395e+06,2.509423e+09
std,761.437145,0.136453,0.061457,0.135015,0.188952,0.081231,0.0,0.0,0.0,0.0,...,NaN,NaN,542.183615,0.081700,0.072530,4.398166,14.586243,15717.995300,1.209372e+06,1.156402e+09
min,135.000000,0.390000,0.530000,0.240000,0.150000,0.510000,1.0,1.0,1.0,1.0,...,1.0,1.0,10002.000000,40.528092,-74.192032,1.000000,1.000000,1.000000,1.000003e+06,1.000020e+09
25%,364.000000,0.690000,0.830000,0.670000,0.440000,0.790000,1.0,1.0,1.0,1.0,...,1.0,1.0,10291.500000,40.687665,-73.979959,3.000000,10.000000,118.500000,1.087876e+06,1.022150e+09
50%,463.000000,0.790000,0.870000,0.765000,0.570000,0.840000,1.0,1.0,1.0,1.0,...,1.0,1.0,10469.000000,40.738952,-73.927051,6.000000,18.000000,269.000000,2.116937e+06,2.053680e+09
75%,635.500000,0.910000,0.910000,0.840000,0.740000,0.900000,1.0,1.0,1.0,1.0,...,1.0,1.0,11219.000000,40.819414,-73.882715,10.000000,34.000000,519.000000,3.331741e+06,3.069858e+09
max,5838.000000,1.000000,0.980000,1.000000,1.000000,1.000000,1.0,1.0,1.0,1.0,...,1.0,1.0,11694.000000,40.888338,-73.727535,18.000000,51.000000,138501.000000,5.149609e+06,5.066130e+09

In [12]:
list(schools_df)

['dbn',
 'school_name',
 'boro',
 'overview_paragraph',
 'school_10th_seats',
 'academicopportunities1',
 'academicopportunities2',
 'academicopportunities3',
 'academicopportunities4',
 'academicopportunities5',
 'ell_programs',
 'language_classes',
 'advancedplacement_courses',
 'diplomaendorsements',
 'neighborhood',
 'shared_space',
 'campus_name',
 'building_code',
 'location',
 'phone_number',
 'fax_number',
 'school_email',
 'website',
 'subway',
 'bus',
 'grades2018',
 'finalgrades',
 'total_students',
 'start_time',
 'end_time',
 'addtl_info1',
 'extracurricular_activities',
 'psal_sports_boys',
 'psal_sports_girls',
 'psal_sports_coed',
 'school_sports',
 'graduation_rate',
 'attendance_rate',
 'pct_stu_enough_variety',
 'college_career_rate',
 'pct_stu_safe',
 'girls',
 'boys',
 'pbat',
 'international',
 'specialized',
 'transfer',
 'ptech',
 'earlycollege',
 'geoeligibility',
 'school_accessibility_description',
 'prgdesc1',
 'prgdesc2',
 'prgdesc3',
 'prgdesc4',
 'prgdesc5',
 'prgdesc6',
 'prgdesc7',
 'prgdesc8',
 'prgdesc9',
 'prgdesc10',
 'directions1',
 'directions2',
 'directions3',
 'directions4',
 'directions5',
 'directions6',
 'directions7',
 'directions8',
 'directions9',
 'directions10',
 'requirement1_1',
 'requirement1_2',
 'requirement1_3',
 'requirement1_4',
 'requirement1_5',
 'requirement1_6',
 'requirement1_7',
 'requirement1_8',
 'requirement1_9',
 'requirement1_10',
 'requirement2_1',
 'requirement2_2',
 'requirement2_3',
 'requirement2_4',
 'requirement2_5',
 'requirement2_6',
 'requirement2_7',
 'requirement2_8',
 'requirement2_9',
 'requirement2_10',
 'requirement3_1',
 'requirement3_2',
 'requirement3_3',
 'requirement3_4',
 'requirement3_5',
 'requirement3_6',
 'requirement3_7',
 'requirement3_8',
 'requirement3_9',
 'requirement3_10',
 'requirement4_1',
 'requirement4_2',
 'requirement4_3',
 'requirement4_4',
 'requirement4_5',
 'requirement4_6',
 'requirement4_7',
 'requirement4_8',
 'requirement4_9',
 'requirement4_10',
 'requirement5_1',
 'requirement5_2',
 'requirement5_3',
 'requirement5_4',
 'requirement5_5',
 'requirement5_6',
 'requirement5_7',
 'requirement5_8',
 'requirement5_9',
 'requirement5_10',
 'requirement6_1',
 'requirement6_2',
 'requirement6_3',
 'requirement6_4',
 'requirement6_5',
 'requirement6_6',
 'requirement6_7',
 'requirement6_8',
 'requirement6_9',
 'requirement6_10',
 'requirement7_1',
 'requirement7_2',
 'requirement7_3',
 'requirement7_4',
 'requirement7_5',
 'requirement7_6',
 'requirement7_7',
 'requirement7_8',
 'requirement7_9',
 'requirement7_10',
 'requirement8_1',
 'requirement8_2',
 'requirement8_3',
 'requirement8_4',
 'requirement8_5',
 'requirement8_6',
 'requirement8_7',
 'requirement8_8',
 'requirement8_9',
 'requirement8_10',
 'requirement9_1',
 'requirement9_2',
 'requirement9_3',
 'requirement9_4',
 'requirement9_5',
 'requirement9_6',
 'requirement9_7',
 'requirement9_8',
 'requirement9_9',
 'requirement9_10',
 'requirement10_1',
 'requirement10_2',
 'requirement10_3',
 'requirement10_4',
 'requirement10_5',
 'requirement10_6',
 'requirement10_7',
 'requirement10_8',
 'requirement10_9',
 'requirement10_10',
 'requirement11_1',
 'requirement11_2',
 'requirement11_3',
 'requirement11_4',
 'requirement11_5',
 'requirement11_6',
 'requirement11_7',
 'requirement11_8',
 'requirement11_9',
 'requirement11_10',
 'requirement12_1',
 'requirement12_2',
 'requirement12_3',
 'requirement12_4',
 'requirement12_5',
 'requirement12_6',
 'requirement12_7',
 'requirement12_8',
 'requirement12_9',
 'requirement12_10',
 'offer_rate1',
 'offer_rate2',
 'offer_rate3',
 'offer_rate4',
 'offer_rate5',
 'offer_rate6',
 'offer_rate7',
 'offer_rate8',
 'offer_rate9',
 'offer_rate10',
 'program1',
 'program2',
 'program3',
 'program4',
 'program5',
 'program6',
 'program7',
 'program8',
 'program9',
 'program10',
 'code1',
 'code2',
 'code3',
 'code4',
 'code5',
 'code6',
 'code7',
 'code8',
 'code9',
 'code10',
 'interest1',
 'interest2',
 'interest3',
 'interest4',
 'interest5',
 'interest6',
 'interest7',
 'interest8',
 'interest9',
 'interest10',
 'method1',
 'method2',
 'method3',
 'method4',
 'method5',
 'method6',
 'method7',
 'method8',
 'method9',
 'method10',
 'seats9ge1',
 'seats9ge2',
 'seats9ge3',
 'seats9ge4',
 'seats9ge5',
 'seats9ge6',
 'seats9ge7',
 'seats9ge8',
 'seats9ge9',
 'seats9ge10',
 'grade9gefilledflag1',
 'grade9gefilledflag2',
 'grade9gefilledflag3',
 'grade9gefilledflag4',
 'grade9gefilledflag5',
 'grade9gefilledflag6',
 'grade9gefilledflag7',
 'grade9gefilledflag8',
 'grade9gefilledflag9',
 'grade9gefilledflag10',
 'grade9geapplicants1',
 'grade9geapplicantsperseat1',
 'grade9geapplicants2',
 'grade9geapplicantsperseat2',
 'grade9geapplicants3',
 'grade9geapplicantsperseat3',
 'grade9geapplicants4',
 'grade9geapplicantsperseat4',
 'grade9geapplicants5',
 'grade9geapplicantsperseat5',
 'grade9geapplicants6',
 'grade9geapplicantsperseat6',
 'grade9geapplicants7',
 'grade9geapplicantsperseat7',
 'grade9geapplicants8',
 'grade9geapplicantsperseat8',
 'grade9geapplicants9',
 'grade9geapplicantsperseat9',
 'grade9geapplicants10',
 'grade9geapplicantsperseat10',
 'seats9swd1',
 'seats9swd2',
 'seats9swd3',
 'seats9swd4',
 'seats9swd5',
 'seats9swd6',
 'seats9swd7',
 'seats9swd8',
 'seats9swd9',
 'seats9swd10',
 'grade9swdfilledflag1',
 'grade9swdfilledflag2',
 'grade9swdfilledflag3',
 'grade9swdfilledflag4',
 'grade9swdfilledflag5',
 'grade9swdfilledflag6',
 'grade9swdfilledflag7',
 'grade9swdfilledflag8',
 'grade9swdfilledflag9',
 'grade9swdfilledflag10',
 'grade9swdapplicants1',
 'grade9swdapplicantsperseat1',
 'grade9swdapplicants2',
 'grade9swdapplicantsperseat2',
 'grade9swdapplicants3',
 'grade9swdapplicantsperseat3',
 'grade9swdapplicants4',
 'grade9swdapplicantsperseat4',
 'grade9swdapplicants5',
 'grade9swdapplicantsperseat5',
 'grade9swdapplicants6',
 'grade9swdapplicantsperseat6',
 'grade9swdapplicants7',
 'grade9swdapplicantsperseat7',
 'grade9swdapplicants8',
 'grade9swdapplicantsperseat8',
 'grade9swdapplicants9',
 'grade9swdapplicantsperseat9',
 'grade9swdapplicants10',
 'grade9swdapplicantsperseat10',
 'seats1specialized',
 'seats2specialized',
 'seats3specialized',
 'seats4specialized',
 'seats5specialized',
 'seats6specialized',
 'applicants1specialized',
 'applicants2specialized',
 'applicants3specialized',
 'applicants4specialized',
 'applicants5specialized',
 'applicants6specialized',
 'appperseat1specialized',
 'appperseat2specialized',
 'appperseat3specialized',
 'appperseat4specialized',
 'appperseat5specialized',
 'appperseat6specialized',
 'seats101',
 'seats102',
 'seats103',
 'seats104',
 'seats105',
 'seats106',
 'seats107',
 'seats108',
 'seats109',
 'seats1010',
 'admissionspriority11',
 'admissionspriority21',
 'admissionspriority31',
 'admissionspriority41',
 'admissionspriority51',
 'admissionspriority61',
 'admissionspriority71',
 'admissionspriority12',
 'admissionspriority22',
 'admissionspriority32',
 'admissionspriority42',
 'admissionspriority52',
 'admissionspriority62',
 'admissionspriority72',
 'admissionspriority13',
 'admissionspriority23',
 'admissionspriority33',
 'admissionspriority43',
 'admissionspriority53',
 'admissionspriority63',
 'admissionspriority73',
 'admissionspriority14',
 'admissionspriority24',
 'admissionspriority34',
 'admissionspriority44',
 'admissionspriority54',
 'admissionspriority64',
 'admissionspriority74',
 'admissionspriority15',
 'admissionspriority25',
 'admissionspriority35',
 'admissionspriority45',
 'admissionspriority55',
 'admissionspriority65',
 'admissionspriority75',
 'admissionspriority16',
 'admissionspriority26',
 'admissionspriority36',
 'admissionspriority46',
 'admissionspriority56',
 'admissionspriority66',
 'admissionspriority76',
 'admissionspriority17',
 'admissionspriority27',
 'admissionspriority37',
 'admissionspriority47',
 'admissionspriority57',
 'admissionspriority67',
 'admissionspriority77',
 'admissionspriority18',
 'admissionspriority28',
 'admissionspriority38',
 'admissionspriority48',
 'admissionspriority58',
 'admissionspriority68',
 'admissionspriority78',
 'admissionspriority19',
 'admissionspriority29',
 'admissionspriority39',
 'admissionspriority49',
 'admissionspriority59',
 'admissionspriority69',
 'admissionspriority79',
 'admissionspriority110',
 'admissionspriority210',
 'admissionspriority310',
 'admissionspriority410',
 'admissionspriority510',
 'admissionspriority610',
 'admissionspriority710',
 'eligibility1',
 'eligibility2',
 'eligibility3',
 'eligibility4',
 'eligibility5',
 'eligibility6',
 'eligibility7',
 'eligibility8',
 'eligibility9',
 'eligibility10',
 'auditioninformation1',
 'auditioninformation2',
 'auditioninformation3',
 'auditioninformation4',
 'auditioninformation5',
 'auditioninformation6',
 'auditioninformation7',
 'auditioninformation8',
 'auditioninformation9',
 'auditioninformation10',
 'common_audition1',
 'common_audition2',
 'common_audition3',
 'common_audition4',
 'common_audition5',
 'common_audition6',
 'common_audition7',
 'common_audition8',
 'common_audition9',
 'common_audition10',
 'primary_address_line_1',
 'city',
 'zip',
 'state_code',
 'Borough',
 'Latitude',
 'Longitude',
 'Community Board',
 'Council District',
 'Census Tract',
 'BIN',
 'BBL',
 'NTA']